@model IEnumerable<ERPv1.ERP.GeneralLedgerModule.AccountCharts.Model.AccountChart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccType.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType.AccountTypeAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType.AccountCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType.ParentAcNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType.BalanceSheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType.IncomeStatement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType.AccountTypeAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType.AccountCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentAcNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType.BalanceSheet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType.IncomeStatement)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AccType.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AccType.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AccType.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
