@model IEnumerable<ProgLix.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Cat_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company.CName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Cat_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company.CName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
