@model ProgLix.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ctype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cLogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Com_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
